<ion-header>
  <ion-navbar>
    <ion-title>Scenario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <h1> Select Scenario</h1>
  <ion-list radio-group>
    <ion-item *ngFor="let scenario of scenarios">
        <ion-radio ng-model="scenario.selected" (ionSelect)="selectRadio(scenario)">
        </ion-radio>
        <ion-label>{{scenario}}</ion-label>
    </ion-item>
</ion-list>

<ion-footer>
  <div class="btn-wrapper">
    <button ion-button (click)= "goToOtherPage()">Next</button>
  </div>
</ion-footer>

</ion-content>
