page-start {
  h1 {
    font-size: 16pt;
    white-space: normal;
  }
  h2 {
    position: fixed;
    top: 100px;
    
  }
  p {
    font-size: 24pt;
    color: black;
    position: relative;
    right : 70px;
    top : 100px;
  }
  ion-content{
      background-image: url('/android_asset/www/assets/img/zombie.png');
      background-repeat: no-repeat;
      background-size: 80% 80%;
      background-position: right bottom;
  }
}
