page-RMLSearch {
  ion-label{
    white-space: normal;

  }
  h1 {
    font-size: 14pt;
    white-space: normal;
  }
  ion-icon{
    //color: blue;
  }


}
.btn-wrapper {
    text-align: right;
    padding-right: 10%;
}
