<ion-header>
  <ion-navbar>
    <ion-title>
      <h1>
        EPA RSL/RML Screening Level Search App
      </h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of items">
      <ion-card-header ng-model="item.selected">
        <ion-card-title class = "chemical">
        <button ion-button icon-start clear (click)="toggleFavorite(item)">
          <ion-icon name={{getButtonIcon(item)}} size="large"></ion-icon>
        </button>
        {{item}}
        </ion-card-title>
      </ion-card-header>
      <button ion-item (click)="goToNextPage(item)">
        <ion-card-content class = "chemical" *ngFor="let info of data.getFormattedData(item)">
          {{info}}
      </ion-card-content>
    </button>
  </ion-card>
</ion-content>
