page-CardsPage {

  ion-card-title.chemical {
    font-size: 12pt;
    padding: 0px;
  }
  ion-card-content.chemical {
    padding: 0px;
    font-size: 8pt;
  }
  h1 {
    font-size: 16pt;
    white-space: normal;
  }
}
