page-CardsPage {
  ion-card {
      background-color: #b3ffff !important;
   }

  ion-card-title.chemical {
    font-size: 12pt;
    padding: 0px;
  }
  ion-card-content.chemical {
    padding: 0px;
    font-size: 12pt;
  }
  h1 {
    font-size: 16pt;
    white-space: normal;
  }
  p {
    padding-left: 15px;
  }
}
