<ion-header>
  <ion-navbar>
    <ion-title>Chemical Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-card *ngFor="let item of items">
      
        <ion-card-title class = "chemical">
          <button ion-button clear icon-start>
            <ion-icon name='md-star-outline'></ion-icon>
          </button>
          {{item}}
        </ion-card-title>

      <button ion-item (click)="goToNextPage(item)">
        <ion-card-content class = "chemical" *ngFor="let info of data.getFormattedData(item)">
          {{info}}
      </ion-card-content>
    </button>
  </ion-card>
</ion-content>
