<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h1>
        EPA RSL/RML Screening Level Search App
      </h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let item of items">
        <ion-card-header ng-model="item.selected">
          <ion-card-title class = "chemical">
          <button ion-button icon-start clear (click)="toggleFavorite(item)">
            <ion-icon name={{getButtonIcon(item)}} size="large"></ion-icon>
          </button>
          {{item}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class = "chemical" *ngFor="let info of data.getSQLFormattedData(item)">
          <p>{{info}}</p>
      </ion-card-content>
        <button ion-item (click)="goToNextPage(item)">
          <ion-icon name="information-circle" size="large">  More info...</ion-icon>
      </button>
    </ion-card>
  </ion-content>
